<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>superHeroes</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
    <div class="row general mt-4">
        <div class="row container-filter" *ngIf="showFilter">
            <div class="col-3">
                <mat-form-field>
                    <mat-label>Buscar:</mat-label>
                    <input matInput #search (keyup)="applyFilter($event)" required>
                </mat-form-field>
            </div>
            <div class="col-3" align="end">
                <button mat-raised-button class="space col-1 add" (click)="openDialog(null)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <mat-card class="body-card col-sm-12 col-md-3 col-lg-3 m-1"
            *ngFor="let hero of listHeros | paginate: { itemsPerPage: 5, currentPage: p }">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{hero.name}}</mat-card-title>
                <mat-card-subtitle>{{hero.lastName}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="hero.img" [alt]="hero.name">
            <mat-card-content>
                <p> <strong>Descripción: </strong> <span>{{hero.description}}</span> </p>
                <p> <strong>Edad: </strong> <span>{{hero.age}}</span> </p>
                <p> <strong>{{hero.villainOrHero == 'hero' ? 'Héroe': 'Villano'}} </strong> </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="space" (click)="openDialog(hero)">Editar</button>
                <button mat-raised-button color="warn" (click)="deleteHero(hero)">Eliminar</button>
            </mat-card-actions>
        </mat-card>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>